<section class="header">
    <div class="header-top">
        <div class="container">
            <div class="col-lg-4 col-sm-4 col-xs-4">
                <h1>
                    <a href="@Href("~/")">Youth <span>Fashion</span></a>
                </h1>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <div class="header-cart">
                    <a href="@Href("~/")">
                        <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/cart.png")" alt="shopping cart"/>
                        <p>Shopping Cart</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-3">
                <div class="header-phone">
                    <p>
                        <span>
                            <i class="glyphicon glyphicon-phone"></i>
                        </span>
                        085 596 234
                    </p>
                    <p>Call me</p>
                </div>                
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-2">
                <div class="header-search">
                    <span>
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <!--bootstrap 导航条-->
            <nav class="navbar header-narbar">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="@Href("~/")">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t7.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t8.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t9.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t11.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t1.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t12.jpg")" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t10.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t2.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t3.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t4.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t5.jpg")" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Href("/")">
                                                <img src="@Href("~/Themes/TheNewTheme/Images/menuPic/t6.jpg")" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="@Href("~/")">Products</a></li>
                            <li><a href="@Href("~/LocalTest.UserInfo/UserInfoN/Login")">Sign In</a></li>
                            <li><a href="@Href("~/")">Contact Me</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</section>